<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/projectweb/ProjectWeb"
			class = "org.xtext.example.projectweb.projectWeb.ProjectWebPackage"
			genModel = "model/generated/ProjectWeb.genmodel" />
	</extension>
</plugin>
